
/// @type List
$default-font: 'Dosis', sans-serif !default;

/// @type Color
$primary-color: #000000 !default;
$secondary-color: #231f20 !default;
$darker-blue : #121632 !default;
$dark-blue :#242947 !default;
$light-blue :#7db1de !default;
$grey : #EFEFEF !default;
$board : #75020A !default;

$white: #ffffff !default;
$red: #ed1248 !default;
$green: #0f8241 !default;
$black: #000 !default;

/// @type Length
$site-widths: (
  'full-width': 100%,
  'max-width': 1500px,
  'small-width': 993px,
) !default;

$font-sizes: (
  'h1': 80px,
  'h2': 50px,
  'h3': 20px,
  'h4': 16px,
  'h5': 12px,
  'h6': 10px,
) !default;

$font-sizes-tablet: (
  'h1': 60px,
  'h2': 40px,
  'h3': 16px,
  'h4': 16px,
  'h5': 12px,
  'h6': 10px,
) !default;

$font-sizes-mobile: (
  'h1': 40px,
  'h2': 36px,
  'h3': 16px,
  'h4': 13px,
  'h5': 12px,
  'h6': 10px,
  ) !default;

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'demi': 600,
  'bold': 700,
) !default;

/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
'mobile-s': 450px,
'mobile-v': 600px,
'mobile-l': 675px,
'mobile-h': 750px,
'mobile-c': 768px,
'tablet-v': 900px,
'tablet-h': 1050px,
'desktop-h': 1200px,
'desktop': 1400px,
) !default;
