.home__video {
    position: relative;
    margin: 80px 0 0;

    &__cont {
      display: block;
      width: 100%;
      padding-top: 50%;
      position: relative;

      video {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
     }
     .embed-responsive{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 2;
       object-fit: cover;
       iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
       }
     }
    }
    
    .controls,.controls2 {
        display: none;
      }

      .image_placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &.podcast{
          z-index: 0;
          top: 0;
        }

        .image-background {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
      } 
    
      .video-controls {
        position: absolute;
        top:30px;
        right:30px;
        color: #ffff;
        font-size: 12px; 
        text-transform: uppercase; 
        font-weight: 700; 
        padding: 5px 10px 4px; 
        cursor: pointer;
    
        @include responsive('small') {
          font-size: 10px;
          font-weight: 600;
          bottom: 15px;
          right: 15px;
        }
        
        @include responsive('mobile-v') {
          font-size: 16px;
        }
    
        &:hover {
          background: #000;
        }
        &.pause,&.pause2 {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color:rgba(0,0,0,.1);
          background-image: url(images/pause-solid.svg);
          @include cover();
          background-size: 80%;
          font-size: 0;
          z-index: 2;
    
          &:hover {
            background-color:rgba(0,0,0,.1);
          }
    
          @include responsive('tablet-small') {
            height: 50px;
            width: 50px;
          }
    
          @include responsive('small') {
            height: 35px;
            width: 35px;
          }
        }
      }
    
      .play-button:hover,.play-button2:hover {
      .stroke-solid {
        opacity: 1;
        stroke-dashoffset: 300;
      }
      
    }
    
    .play-button,.play-button2 {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 2;
      
      @include responsive('mobile-v') {
        width: 50px;
        height: 50px;
      }
      
      @include responsive('small') {
        top: 35%;
        transform: translateX(-50%) scale(.5) translateY(-50%);
      }
    }
} 